<div class="share">
    <ul class="share-buttons" data-source="plugfox.dev">
        <li><a class="share-item" href="https://twitter.com/intent/tweet?source={{url absolute="true"}}&url={{url absolute="true"}}&text={{encode title}}&via=plugfox" target="_blank" title="Tweet" rel="noopener noreferrer"><img alt="Tweet" src="/assets/icons/social/svg/twitter.svg" /></a></li>
        <li><a class="share-item" href="https://t.me/share/url?url={{url absolute="true"}}&text={{encode title}}" target="_blank" title="Send to Telegram" rel="noopener noreferrer"><img alt="Send to Telegram" src="/assets/icons/social/svg/telegram.svg" /></a></li>
        <li><a class="share-item" href="https://www.linkedin.com/sharing/share-offsite/?url={{url absolute="true"}}" target="_blank" title="Share on LinkedIn" rel="noopener noreferrer"><img alt="Share on LinkedIn" src="/assets/icons/social/svg/linkedin.svg" /></a></li>
        <li><a class="share-item" href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" title="Share on Facebook" target="_blank" rel="noopener noreferrer"><img alt="Share on Facebook" src="/assets/icons/social/svg/facebook.svg"/></a></li>
        {{!-- <li><a class="share-item" href="http://www.tumblr.com/share?v=3&u={{url absolute="true"}}&quote={{encode title}}" target="_blank" title="Post to Tumblr" rel="noopener noreferrer"><img alt="Post to Tumblr" src="/assets/icons/social/svg/tumblr.svg" /></a></li> --}}
        {{!-- <li><a class="share-item" href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}&description={{encode title}}" target="_blank" title="Pin it" rel="noopener noreferrer"><img alt="Pin it" src="/assets/icons/social/svg/pinterest.svg" /></a></li> --}}
        <li><a class="share-item" href="https://getpocket.com/save?url={{url absolute="true"}}&title={{encode title}}" target="_blank" title="Add to Pocket" rel="noopener noreferrer"><img alt="Add to Pocket" src="/assets/icons/social/svg/pocket.svg" /></a></li>
        <li><a class="share-item" href="http://www.reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}" target="_blank" title="Submit to Reddit" rel="noopener noreferrer"><img alt="Submit to Reddit" src="/assets/icons/social/svg/reddit.svg" /></a></li>
        {{!-- <li><a class="share-item" href="http://wordpress.com/press-this.php?u={{url absolute="true"}}&quote={{encode title}}" target="_blank" title="Publish on WordPress" rel="noopener noreferrer"><img alt="Publish on WordPress" src="/assets/icons/social/svg/wordpress.svg" /></a></li> --}}
        <li><a class="share-item" href="https://pinboard.in/popup_login/?url={{url absolute="true"}}&title={{encode title}}" target="_blank" title="Save to Pinboard" rel="noopener noreferrer"><img alt="Save to Pinboard" src="/assets/icons/social/svg/pinboard.svg" /></a></li>
        {{!-- <li><a class="share-item" href="mailto:?subject={{encode title}}&body={{url absolute="true"}}" target="_blank" title="Send email" rel="noopener noreferrer"><img alt="Send email" src="/assets/icons/social/svg/gmail.svg" /></a></li> --}}
    </ul>
    {{!--
    <a class="share-item share-telegram"
        href="https://t.me/share/url?url={{url absolute="true"}}&text={{encode title}}"
        target="_blank" rel="noopener noreferrer">
        <i class="icon icon-telegram hidden-md hidden-lg hidden-xl"></i>
        <span class="share-telegram hidden-xs hidden-sm">Telegram</span>
    </a>
    <a class="share-item share-twitter"
        href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
        target="_blank" rel="noopener noreferrer">
        <i class="icon icon-twitter hidden-md hidden-lg hidden-xl"></i>
        <span class="share-text hidden-xs hidden-sm">Tweet</span>
    </a>
    <a class="share-item share-linkedin"
        href="https://www.linkedin.com/sharing/share-offsite/?url={{url absolute="true"}}"
        target="_blank" rel="noopener noreferrer">
        <i class="icon icon-linkedin hidden-md hidden-lg hidden-xl"></i>
        <span class="share-text hidden-xs hidden-sm">Tweet</span>
    </a>
    <a class="share-item share-facebook"
        href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
        target="_blank" rel="noopener noreferrer">
        <i class="icon icon-facebook hidden-md hidden-lg hidden-xl"></i>
        <span class="share-text hidden-xs hidden-sm">Facebook</span>
    </a>
    {{#if og_description}}
        <a class="share-item share-download" href="{{og_description}}"
            target="_blank" rel="noopener noreferrer">
            <i class="icon icon-download hidden-md hidden-lg hidden-xl"></i>
            <span class="share-text hidden-xs hidden-sm">Download</span>
        </a>
    {{/if}}
    --}}
</div>