<div class="subscribe{{#if is_popup}} popup{{/if}}">
    {{#if @custom.linkedin_link}}
        <a href="{{@custom.linkedin_link}}" class="subscribe-link" target="_blank"
            rel="noopener noreferrer">
            <i class="icon icon-footer icon-linkedin"></i>
            {{!-- <span class="subscribe-text">LinkedIn</span> --}}
        </a>
    {{/if}}
    {{#if @custom.github_link}}
        <a href="{{@custom.github_link}}" class="subscribe-link" target="_blank"
            rel="noopener noreferrer">
            <i class="icon icon-footer icon-github"></i>
            {{!-- <span class="subscribe-text">GitHub</span> --}}
        </a>
    {{/if}}
    {{#if @custom.telegram_link}}
        <a href="{{@custom.telegram_link}}" class="subscribe-link" target="_blank"
            rel="noopener noreferrer">
            <i class="icon icon-footer icon-telegram"></i>
            {{!-- <span class="subscribe-text">Telegram</span> --}}
        </a>
    {{/if}}
    {{#if @custom.youtube_link}}
        <a href="{{@custom.youtube_link}}" class="subscribe-link" target="_blank"
            rel="noopener noreferrer">
            <i class="icon icon-footer icon-youtube"></i>
            {{!-- <span class="subscribe-text">YouTube</span> --}}
        </a>
    {{/if}}
    {{#if @custom.google_devlopers_link}}
        <a href="{{@custom.google_devlopers_link}}" class="subscribe-link"
            target="_blank" rel="noopener noreferrer">
            <i class="icon icon-footer icon-google"></i>
            {{!-- <span class="subscribe-text">Developers</span> --}}
        </a>
    {{/if}}
    <a href="{{#if @custom.rss_link}}{{@custom.rss_link}}{{else}}{{@site.url}}/rss{{/if}}" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <i class="icon icon-footer icon-rss"></i>
        {{!-- <span class="subscribe-text">RSS</span> --}}
    </a>
</div>